<%= simple_form_for @board, defaults: { input_html: {class: 'form-control'}} do |f| %>

  <div class="col-xs-6">

    <div class="form-group">
      <%= f.check_box :is_private %> Privado
    </div>

    <div class="form-group">
      <%= f.input :name, label: "Nome"  %>
    </div>

    <div class="form-group">
      <fieldset>
        <legend>Tarefas</legend>
        <%= f.fields_for :tasks do |t| %>
          <% if t.object.id? %>
            <%= t.check_box '_destroy' %> Remover
          <% end %>
          <%= t.input :name, label: "Nome" %>
          <%= t.association :priority_type, label: "Prioridade", include_blank: "Selecione a Prioridade" %>
          <%= t.association :task_status, label: "Status", include_blank: "Selecione o Status" %>
          <hr>
        <% end %>
      </fieldset>
    </div>


    <div class="form-group">
      <button type="submit" class="btn btn-primary pull-right">Salvar</button>
    </div>

  </div>

<% end %>
