<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <a href="<%= new_board_path %>" class="btn  btn-primary pull-right" >Novo Board</a>
    </div>
  </div>


  <% for board in @boards %>
    <div class="row">
      <div class="col-xs-12">
        <h1 class="page-header">
          <%= board.name %> <small>(<%= board.is_private ? "Privado" : "Público" %>)</small>
          <a href="<%= edit_board_path board %>" class="btn btn-primary pull-right">Editar</a>
        </h1>
      </div>
    </div>

    <div class="row">

      <!-- TO DO -->
      <div class="col-xs-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">To-do</h3>
          </div>
          <!-- Tasks -->
          <ul class="list-group" id="to_do_<%=board.id%>" data-board-id="<%=board.id%>" >
          <% for task in board.tasks.to_do %>
            <li class="list-group-item" id="task_<%=task.id%>" >
              <div class="row">
                <div class="col-xs-12"><%= task.name %></div>
                <div class="col-xs-6"><%= task.priority_type.name %></div>
                <div class="col-xs-6">
                  <%= select_tag "task_status_#{task.id}", options_from_collection_for_select(@task_statuses, "id", "name", task.task_status_id), :class => "task_status_select" %>

                </div>
              </div>
            </li>
          <% end %>
          </ul>
        </div>
      </div>

      <!-- IN PROGRESS -->
      <div class="col-xs-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">In Progress</h3>
          </div>
          <!-- Tasks -->
          <ul class="list-group" id="in_progress_<%=board.id%>" data-board-id="<%=board.id%>" >
          <% for task in board.tasks.in_progress %>
            <li class="list-group-item" id="task_<%=task.id%>" >
              <div class="row">
                <div class="col-xs-12"><%= task.name %></div>
                <div class="col-xs-6"><%= task.priority_type.name %></div>
                <div class="col-xs-6">
                  <%= select_tag "task_status_#{task.id}", options_from_collection_for_select(@task_statuses, "id", "name", task.task_status_id), :class => "task_status_select" %>

                </div>
              </div>
            </li>
          <% end %>
          </ul>
        </div>
      </div>

      <!-- TO VERIFY -->
      <div class="col-xs-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">To Verify</h3>
          </div>
          <!-- Tasks -->
          <ul class="list-group" id="to_verify_<%=board.id%>" data-board-id="<%=board.id%>" >
          <% for task in board.tasks.to_verify %>
            <li class="list-group-item" id="task_<%=task.id%>" >
              <div class="row">
                <div class="col-xs-12"><%= task.name %></div>
                <div class="col-xs-6"><%= task.priority_type.name %></div>
                <div class="col-xs-6">
                  <%= select_tag "task_status_#{task.id}", options_from_collection_for_select(@task_statuses, "id", "name", task.task_status_id), :class => "task_status_select" %>

                </div>
              </div>
            </li>
          <% end %>
          </ul>
        </div>
      </div>

      <!-- DONE -->
      <div class="col-xs-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Done</h3>
          </div>
          <!-- Tasks -->
          <ul class="list-group" id="done_<%=board.id%>" data-board-id="<%=board.id%>" >
          <% for task in board.tasks.done %>
            <li class="list-group-item" id="task_<%=task.id%>" >
              <div class="row">
                <div class="col-xs-12"><%= task.name %></div>
                <div class="col-xs-6"><%= task.priority_type.name %></div>
                <div class="col-xs-6">
                  <%= select_tag "task_status_#{task.id}", options_from_collection_for_select(@task_statuses, "id", "name", task.task_status_id), :class => "task_status_select" %>

                </div>
              </div>
            </li>
          <% end %>
          </ul>
        </div>
      </div>

    </div>
    <hr>
  <% end %>
</div>
